# ☑ Collection verification

{% embed url="https://www.notion.so/enftdao/Verification-e874591432eb4e0388df94470a3854a9" %}
Please visit this Notion page above to verify.
{% endembed %}
